ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white;
}

.configuracion-header {
  position: relative;

  width: 100%;
  height: 30%;
}

.configuracion-header .configuracion-image {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;

  transition: opacity 500ms ease-in-out;
}

.configuracion-header .cdmx {
  background-image: url(/assets/img/configuracion/cdmx.jpg);
}
.configuracion-header .puebla {
  background-image: url(/assets/img/configuracion/puebla.jpg);
}
.configuracion-header .guadalajara {
  background-image: url(/assets/img/configuracion/guadalajara.jpg);
}
.configuracion-header .monterrey {
  background-image: url(/assets/img/configuracion/monterrey.jpg);
}

.configuracion-info {
  position: absolute;
  margin-top: -10px;
  border-radius: 10px;
  background: var(--ion-background-color, #fff);
}

.configuracion-info h3 {
  margin-top: 0;
}

.configuracion-info ion-list {
  padding-top: 0;
}

.configuracion-info p {
  line-height: 130%;

  color: var(--ion-color-dark);
}

.configuracion-info ion-icon {
  margin-inline-end: 32px;
}

/*
 * iOS Only
 */

.ios .configuracion-info {
  --ion-padding: 19px;
}

.ios .configuracion-info h3 {
  font-weight: 700;
}
