<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareitem()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="item" class="ion-padding">
    <h1>{{item.name}}</h1>
    <span *ngFor="let track of item?.tracks" [class]="'item-track-'+track.toLowerCase()">{{track}}</span>
    <p>{{item.location}}</p>
    <ion-text color="medium">
      {{item.timeStart}} &ndash; {{item.timeEnd}}
      <br /> {{item.location}}
    </ion-text>
  </div>

  <ion-list>
    <ion-item (click)="itemClick('watch')" button>
      <ion-label color="primary">Agregar a favoritos</ion-label>
    </ion-item>
    <ion-item (click)="itemClick('add to calendar')" button>
      <ion-label color="primary">Agregar a carrito</ion-label>
    </ion-item>
    <ion-item (click)="itemClick('mark as unwatched')" button>
      <ion-label color="primary">Contactar al usuario</ion-label>
    </ion-item>
    <ion-item (click)="itemClick('download video')" button>
      <ion-label color="primary">Download Video</ion-label>
      <ion-icon slot="end" color="primary" size="small" name="cloud-download"></ion-icon>
    </ion-item>
    <ion-item (click)="itemClick('leave feedback')" button>
      <ion-label color="primary">Leave Feedback</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
